{% extends 'cms::layouts.frontend' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <h4>{{ __('Menu') }}</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if page.key is not defined %}active{% endif %}" 
                               href="{{ route('profile') }}">
                                <i class="fa fa-user"></i> {{ __('Profile') }}
                            </a>
                        </li>
                        {% for menu_page in pages %}
                            <li class="nav-item">
                                <a class="nav-link {% if page.key is defined and page.key == menu_page.key %}active{% endif %}" 
                                   href="{{ route('profile', [menu_page.key]) }}">
                                    <i class="{{ menu_page.icon }}"></i> {{ menu_page.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <div class="col-md-9">
                <div class="profile-content">
                    <h1>{{ page.title }}</h1>
                    
                    <div class="content">
                        {% if page.contents is defined %}
                            {% include page.contents with {
                                data: page.data|default([]),
                                orders: orders|default([])
                            } %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
