{% extends 'cms::layouts.frontend' %}

{% block content %}
    {% include 'theme::components.breadcrumb' with {
        title: page.title,
        background_image: 'images/breadcrumb_bg.jpg',
        items: [
            {'label': 'Home', 'url': '/'},
            {'label': page.title}
        ]
    } %}

    <section class="tf__dashboard pt_120 xs_pt_80 pb_120 xs_pb_80">
        <div class="container">
            <div class="tf__dashboard_content">
                <div class="row">
                    <div class="col-xxl-3 col-lg-4">
                        <div class="tf__dashboard_sidebar">
                            <div class="tf__dashboard_sidebar_user">
                                <div class="img">
                                    <img src="{{ user.avatar }}" alt="user" class="img-fluid w-100">

                                    <label for="upload">
                                        <img src="images/camera_icon.png" alt="upload" class="img-fluid w-100">
                                    </label>
                                    <input type="file" id="upload" hidden>
                                </div>
                                <h2>{{ user.name }}</h2>
                                <p>{{ user.role }}</p>
                            </div>
                            <div class="tf__dashboard_sidebar_menu">
                                <ul>
                                    {% set sorted_pages = [] %}
                                    {% set unsorted_pages = [] %}
                                    
                                    {% for key, menu_page in pages %}
                                        {% if menu_page.position is defined %}
                                            {% set sorted_pages = sorted_pages|merge([menu_page]) %}
                                        {% else %}
                                            {% set unsorted_pages = unsorted_pages|merge([menu_page]) %}
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% set sorted_pages = sorted_pages|sort((a, b) => a.position <=> b.position) %}
                                    
                                    {% for menu_page in sorted_pages %}
                                        <li>
                                            <a class="{% if page.key is defined and page.key == menu_page.key %}active{% endif %}"
                                            href="{{ route('profile', [menu_page.key]) }}">
                                                <i class="{{ menu_page.icon }}"></i> {{ menu_page.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    
                                    {% for menu_page in unsorted_pages %}
                                        <li>
                                            <a class="{% if page.key is defined and page.key == menu_page.key %}active{% endif %}"
                                            href="{{ route('profile', [menu_page.key]) }}">
                                                <i class="{{ menu_page.icon }}"></i> {{ menu_page.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {# <div class="tf__dashboard_sidebar_menu">
                                <ul>
                                    {% for menu_page in pages %}
                                        <li>
                                            <a class="{% if page.key is defined and page.key == menu_page.key %}active{% endif %}"
                                            href="{{ route('profile', [menu_page.key]) }}">
                                                <i class="{{ menu_page.icon }}"></i> {{ menu_page.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div> #}
                        </div>
                    </div>
                    <div class="col-xxl-9 col-lg-8">
                        <div class="tf__dashboard_body">
                            <h2 class="dashboard_title">{{ page.title }}</h2>
                            {% if page.contents is defined and page.contents is not empty %}
                                {% include page.contents with {
                                    data: page.data|default([])
                                } %}
                            {% else %}
                                <div class="alert alert-info">
                                    {{ __('No content available for this section.') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
