

    <!--==============================
        FOOTER START
    ===============================-->
    <section class="tf__footer" style="background: url({{ upload_url(theme_config('footer_bg_image')) }}) no-repeat center center; background-size: cover;">
        <div class="tf__footer_overlay pt_120 xs_pt_80">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-md-8 col-lg-7">
                        {{ dynamic_sidebar('footer_1') }}
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-5">
                        <div class="tf__footer_content">
                            <h3>Explore links</h3>
                            {{  jw_nav_menu({
                                'container_before': '<ul class="footer_link">',
                                'container_after': '</ul>',
                                'theme_location': 'footer_2',
                                'item_view': 'theme::components.menu_item'
                            }) }}
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-5 order-lg-4">
                        {{ dynamic_sidebar('footer_3') }}
                    </div>
                    <div class="col-xl-3 col-md-8 col-lg-5 order-xl-4">
                        {{ dynamic_sidebar('footer_4') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tf__footer_bottom">
                            <p>EduFax © 2023, All Rights Reserved </p>
                            <ul>
                                <li><a href="#">Privacy Policy </a></li>
                                <li><a href="#"> Terms & Conditions</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        FOOTER END
    ===============================-->


    <!--==============================
        SCROLL BUTTON START
    ===============================-->
    <div class="tf__scroll_btn"><i class="far fa-long-arrow-up"></i></div>
    <!--==============================
        SCROLL BUTTON END
    ===============================-->
