<section class="tf__faq_page pt_95 xs_pt_55 pb_120 xs_pb_80">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-lg-7">
                <div class="tf__faq_text">
                    <div class="accordion" id="accordionExample">
                        {% for faq in data.faqs %}
                            <div class="accordion-item wow fadeInUp" data-wow-duration="1s">
                                <h2 class="accordion-header">
                                    <button class="accordion-button {% if not loop.first %}collapsed{% endif %}" 
                                            type="button" 
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ loop.index }}" 
                                            aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" 
                                            aria-controls="collapse{{ loop.index }}">
                                        {{ faq.question }}
                                    </button>
                                </h2>
                                <div id="collapse{{ loop.index }}" 
                                     class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>{{ faq.answer }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5 wow fadeInRight" data-wow-duration="1s">
                <form class="tf__faq_form tf__become_instructor_form">
                    <h2>{{ data.contact_form.title }}</h2>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tf__form_single_input">
                                <label>Name</label>
                                <input type="text" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="tf__form_single_input">
                                <label>Email</label>
                                <input type="email" placeholder="example@gmail.com">
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="tf__form_single_input">
                                <label>Phone</label>
                                <input type="text" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="tf__form_single_input">
                                <label>Message</label>
                                <textarea rows="4" placeholder="Type here.."></textarea>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="tf__form_single_input">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{ data.contact_form.privacy_text }}
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="tf__common_btn">{{ data.contact_form.button_text }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> 