<div class="tf__dashboard_order wow fadeInUp" data-wow-duration="1s">
    <div class="tf_dashboard_order_area">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>course fee</th>
                        <th>Action</th>
                    </tr>

                    {% for order in data.orders.data %}
                        <tr>
                            <td>
                                <a href="{{ thank_page }}/{{ order.token }}">
                                    #{{ order.code }}
                                </a>
                            </td>
                            <td>{{ order.created_at|date('d M Y') }}</td>
                            <td>
                                {% if order.payment_status == 'pending' %}
                                    <span class="pending">{{ order.payment_status_text }}</span>
                                {% elseif order.payment_status == 'cancel' %}
                                    <span class="cancel">{{ order.payment_status_text }}</span>
                                {% else %}
                                    <span class="paid">{{ order.payment_status_text }}</span>
                                {% endif %}
                            </td>
                            <td>{{ order.total_amount }}</td>
                            <td>
                                <a href="{{ thank_page }}/{{ order.token }}">
                                    Details
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{ paginate_links(data.orders, 'theme::components.pagination') }}
