<div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1s">
    <div class="tf__single_blog">
        <div class="tf__single_blog_img">
        <h3>{{ post.thumbnail }}</h3>
            <img src="{{ post.thumbnail }}" alt="blog" class="img-fluid w-100">
        </div>
        <div class="tf__single_blog_text">
            <ul>
                <li>
                    <span>
                        <img src="{{ post.author.avatar }}" alt="bloger" class="img-fluid w-100">
                    </span>
                    {{ post.author.name }}
                </li>
                <li><i class="fal fa-calendar-alt"></i> {{ post.created_at }}</li>
            </ul>
            <a class="title" href="{{ post.url }}">
                {{ post.title }}
            </a>
            <div class="tf__single_blog_footer">
                <a href="{{ post.url }}">View Details <i class="far fa-long-arrow-right"></i></a>
                <span><i class="far fa-eye"></i> {{ post.category }}</span>
            </div>
        </div>
    </div>
</div>