{% extends 'cms::layouts.frontend' %}

{% block content %}
    {% set tags = get_post_taxonomies(post, 'tags', {limit: 5}) %}
    {% include 'theme::components.breadcrumb' with {
            is_dynamic: true,
            post: post,
            background_image: post.thumbnail ?? 'images/breadcrumb_bg.jpg'
        }
    %}

 <section class="tf__blog_details_page pt_120 xs_pt_80 pb_120 xs_pb_80">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 wow fadeInUp" data-wow-duration="1s">
                    <div class="tf__blog_details_area">
                        <div class="tf__blog_details_img">
                            <img src="{{ post.thumbnail }}" alt="blog details" class="img-fluid w-100">
                        </div>
                        <div class="tf__blog_details_header">
                            <ul>

                                <li>
                                    <span>
                                        <img src="{{ post.author.avatar }}" alt="bloger" class="img-fluid w-100">
                                    </span>
                                    {{ post.author.name }}
                                </li>

                                <li>
                                    <p>
                                        <i class="fal fa-calendar-alt"></i>
                                        {{ post.created_at }}
                                    </p>
                                    <p>
                                        <i class="far fa-eye"></i>
                                        {{ post.views }} View
                                    </p>
                                </li>
                            </ul>

                        </div>
                        <div class="tf__blog_details_text">
                            {{ post.content|raw }}
                        </div>
                        <div class="tf__blog_details_tag_area">
                            <ul class="tags d-flex flex-wrap">
                                <li>{{ __('Tags:') }}</li>
                                {% for tag in tags %}
                                <li><a href="{{ tag.url }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>

                            <ul class="social d-flex flex-wrap">
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="tf__blog_comment_area">
                            {{ comment_template(post, 'theme::components.comments') }}
                            <div class="tf__input_comment_area comment-form">
                                <h3>{{ __('Leave a Reply') }}</h3>
                                <p>{{ __('Your email address will not be published.') }}</p>

                                {% if errors is not empty %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for error in errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                {% if message %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endif %}

                                <form action="" method="post" id="comment-form">
                                    {{ csrf_field() }}
                                    <div class="row">
                                        {% if guest %}
                                            <div class="col-xl-6">
                                                <div class="tf__single_comment_input">
                                                    <label>{{ __('Name') }}</label>
                                                    <input type="text" placeholder="Name" name="name">
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="tf__single_comment_input">
                                                    <label>{{ __('E-mail') }}</label>
                                                    <input type="email" placeholder="Email" name="email">
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="tf__single_comment_input">
                                                    <label>{{ __('Website') }}</label>
                                                    <input type="text" placeholder="Website" name="website">
                                                </div>
                                            </div>

                                        {% endif %}
                                        <div class="col-xl-12">
                                            <div class="tf__single_comment_input">
                                                <label>{{ __('Your comment') }}</label>
                                                <textarea rows="5" placeholder="Type here" name="content" required></textarea>
                                            </div>
                                            <button class="tf__common_btn" type="submit">{{ __('submit') }}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    {{ dynamic_sidebar('sidebar') }}
                </div>
            </div>
        </div>
    </section>

    {{ dynamic_sidebar('post_single') }}

{% endblock %}
