{% extends 'cms::layouts.frontend' %}

{% block content %}

{% include 'theme::components.breadcrumb' with {
        is_dynamic: true,
        post: post,
        background_image: post.thumbnail ?? upload_url(theme_config('breadcrumb_bg_image')),
    }
%}

{% set related_events = get_related_posts(post, 3) %}

<section class="tf__event_details_page pt_120 xs_pt_80 pb_120 xs_pb_80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 wow fadeInUp" data-wow-duration="1s">
                <div class="tf__event_details_area">
                    <div class="tf__event_details_img">
                        <img src="{{ post.thumbnail }}" alt="event" class="img-fluid w-100">
                    </div>
                    <h2>{{ post.title }}</h2>
                    <div class="tf__event_details_text">
                        {{ post.content|raw }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tf__sidebar" id="sticky_sidebar">
                    <div class="tf__sidebar_course_enrole">
                        <h3>Event Booking</h3>
                        <ul class="list">
                            <li><span><i class="fal fa-calendar-alt"></i> Start Date :</span> {{ post.metas.start_date }}</li>
                            <li><span><i class="far fa-clock"></i> End Date :</span> {{ post.metas.end_date }} </li>
                            <li><span><i class="far fa-user"></i> Views :</span> {{ post.views }}</li>
                            <li><span><i class="far fa-map-marker-alt"></i> Location :</span> {{ post.metas.venue }}</li>
                        </ul>

                        <a class="tf__common_btn2" href="#">Price : {{ ecom_price_with_unit(post.metas.price) }}</a>
                        <a class="tf__common_btn" href="javascript:void(0)"
                           onclick="addToCart({{ post.id }}, 'events', 1); return false;">Enroll Now</a>

                        <ul class="share d-flex flex-wrap">
                            <li>share :</li>
                            {% for social in post.metas.social_links %}
                            <li>
                                <a class="facebook" href="{{ social.url }}">
                                    <i class="{{ social.icon }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if related_events|length > 0 %}
                    <div class="tf__sidebar_event">
                        <h3>Recent Events</h3>
                        <ul>
                            {% for event in related_events %}
                            <li>
                                <div class="date">
                                    <h4>{{ event.date|date('d') }}</h4>
                                    <p>{{ event.date|date('M Y') }}</p>
                                </div>
                                <div class="text">
                                    <a href="{{ event.url }}">{{ event.title }}</a>
                                    <p>
                                        <span><i class="far fa-clock"></i> {{ event.created_at|date('g') }} - {{ event.created_at|date('i') }} {{ event.created_at|date('A') }}</span>
                                        <span><i class="far fa-map-marker-alt"></i> {{ event.metas.venue }}</span>
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': '{{ csrf_token() }}'
            }
        });

        function addToCart(postId, type, quantity) {
            var $button = $('.tf__common_btn[onclick*="addToCart"]');
            var originalText = $button.text();
            
            // Show loading state
            $button.html('<i class="fas fa-spinner fa-spin"></i> Loading...');
            $button.prop('disabled', true);
            
            console.log('Sending data:', {
                post_id: postId,
                type: type,
                quantity: quantity
            });

            $.ajax({
                url: '{{ url('ajax/cart/add-to-cart') }}',
                type: 'POST',
                data: {
                    post_id: postId,
                    type: type,
                    quantity: quantity
                },
                beforeSend: function() {
                    console.log('Request payload:', {
                        post_id: postId,
                        type: type,
                        quantity: quantity
                    });
                },
                success: function(response) {
                    console.log('Full response:', response);
                    if (response.status === true || response.status === 'success') {
                        console.log('Success:', response.data ? response.data.message : response.message);
                        updateCartCount();
                        
                        // Show Added text
                        $button.html('Added');
                        
                        // Return to original text after 2 seconds
                        setTimeout(function() {
                            $button.html(originalText);
                            $button.prop('disabled', false);
                        }, 2000);
                    } else {
                        console.log('Error:', response.data ? response.data.message : response.message);
                        $button.html(originalText);
                        $button.prop('disabled', false);
                    }
                },
                error: function(xhr, status, error) {
                    console.log('Error status:', status);
                    console.log('Error message:', error);
                    console.log('Response:', xhr.responseJSON);
                    
                    // Restore original button text on error
                    $button.html(originalText);
                    $button.prop('disabled', false);
                }
            });
        }

        function updateCartCount() {
            $.ajax({
                url: '{{ url('ajax/cart/get-items') }}',
                type: 'GET',
                success: function(response) {
                    $('.cart-count').text(response.total_items);
                }
            });
        }
    </script>
{% endblock %}
