<div class="comment-box">
    {% for comment in comments.data  %}
    <div class="media">
        <div class="item-img">
            <img src="{{ comment.avatar }}" alt="logo">
        </div>
        <div class="media-body">
            <h4 class="item-title">{{ comment.name }} ,<span>{{ comment.created_at }}</span></h4>
            <p>{{ comment.content }}</p>
            <a href="#comment-form" class="reply-btn">{{ __('Reply') }}</a>
        </div>
    </div>
    {% endfor %}
</div>


<h3>{{ total }} {{ __('Comments') }}</h3>
{% for comment in comments.data  %}
    <div class="tf__single_comment">
        <div class="tf__single_comment_img">
            <img src="{{ comment.avatar }}" alt="comment" class="img-fluid w-100">
        </div>
        <div class="tf__single_comment_text">
            <h4>{{ comment.name }}</h4>
            <p class="comment_time">{{ comment.created_at }} <a href="#">reply</a></p>
            <p class="main_comment">{{ comment.content }}</p>
        </div>
    </div>
{% endfor %}