<h3>{{ total }} {{ __('Comments') }}</h3>
{% for comment in comments.data  %}
    <div class="tf__single_comment">
        <div class="tf__single_comment_img">
            <img src="{{ comment.avatar }}" alt="comment" class="img-fluid w-100">
        </div>
        <div class="tf__single_comment_text">
            <h4>{{ comment.name }}</h4>
            <p class="comment_time">{{ comment.created_at }} <a href="#comment-form">{{ __('Reply') }}</a></p>
            <p class="main_comment">{{ comment.content }}</p>
        </div>
    </div>
{% endfor %}