<div class="heading-layout3">
    <h3 class="heading-title-md">{{ total }} {{ __('Comments') }}</h3>
</div>

<div class="comment-box">
    {% for comment in comments.data  %}
    <div class="media">
        <div class="item-img">
            <img src="{{ comment.avatar }}" alt="logo">
        </div>
        <div class="media-body">
            <h4 class="item-title">{{ comment.name }} ,<span>{{ comment.created_at }}</span></h4>
            <p>{{ comment.content }}</p>
            <a href="#comment-form" class="reply-btn">{{ __('Reply') }}</a>
        </div>
    </div>
    {% endfor %}
</div>


<h3>2 Comments</h3>
    <div class="tf__single_comment">
        <div class="tf__single_comment_img">
            <img src="images/bloger_1.jpg" alt="comment" class="img-fluid w-100">
        </div>
        <div class="tf__single_comment_text">
            <h4>Cameron Williamson</h4>
            <p class="comment_time">Nov 23, 2024 at 12:23 pm <a href="#">reply</a></p>
            <p class="main_comment">Mollis porta eget mus volutpat nunc porttitor scelerisque
                nec feugiat. Ut sed vel malesuada sed viverra est nisi magna sed. Faucibus
                imperdiet nulla accumsan mi dictum velit leo. Risus ultrices ornare etiam
                volutpat dui et risus cras.</p>
        </div>
    </div>
    <div class="tf__single_comment">
        <div class="tf__single_comment_img">
            <img src="images/bloger_1.jpg" alt="comment" class="img-fluid w-100">
        </div>
        <div class="tf__single_comment_text">
            <h4>Cameron Williamson</h4>
            <p class="comment_time">Nov 23, 2024 at 12:23 pm <a href="#">reply</a></p>
            <p class="main_comment">Risus ultrices ornare etiam volutpat dui et risus cras.
                Fermentum mattis dolor tempus vel elit. Tellus scelerisque tortor vulputate
                euismod ac.</p>
        </div>
    </div>
    <div class="tf__single_comment">
        <div class="tf__single_comment_img">
            <img src="images/bloger_1.jpg" alt="comment" class="img-fluid w-100">
        </div>
        <div class="tf__single_comment_text">
            <h4>Cameron Williamson</h4>
            <p class="comment_time">Nov 23, 2024 at 12:23 pm <a href="#">reply</a></p>
            <p class="main_comment">Mollis porta eget mus volutpat nunc porttitor scelerisque
                nec feugiat. Ut sed vel malesuada sed viverra est nisi magna sed. Faucibus
                imperdiet nulla accumsan mi dictum velit leo.</p>
        </div>
    </div>
    <div class="tf__pagination mt_35">
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"> <a class="page-link" href="#"
                                aria-label="Previous">
                                <i class="far fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link active" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#" aria-label="Next">
                                <i class="far fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>